/* *{
    margin: 0;
    padding: 0;
} */
body{
    justify-content: center;
    align-content: center;
    text-align: center;
   
}
header{
    
    height: 60px;
    background-color:red;
   /* margin-bottom: 15px; */
   margin-bottom: 0;
    border-radius: 10px;
}
#nav-container{
    
    /* height: 60px; */
   display: flex;
   margin-bottom: 0;
   flex-direction: row;

}
#nav-container span{
    display: block;
}
#nav-container ul{
    /* margin-top: 20px; */
    list-style: none;
     display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;

}
#nav-container p{
   font-size: larger;
   color: black;
   font-weight: 900;
}
#nav-container ul li a{
    color: whitesmoke;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;



}
#nav-container ul li a:hover{
    color:black;
    background-color: whitesmoke;
    font-size: 15px;
}
h1{
    color:blue;
    margin-top: 0%;
}
#Text{
    /* background-color: ; */
     justify-content: center;
    align-content: center;
    display: flex;
    gap: 7px;
    flex-direction: row;
    /* align-items: center; */
}
.video{
   margin-top: 10px;
   margin-bottom: 10px;
   height: 100px;
}
#contact {
   color: white;
   font-size: 30px;
   text-transform: uppercase;
}
.video video{
   width: 400px;
   padding-top: 70px;
   height: 300px;
   border-radius: 10px;
   
} 
.section-container{
    margin-top: 40px;
    /* justify-content: center;
    align-content: center; */
    /* align-items: center; */
    margin-bottom: 20px;
 text-align: center;
 height: 300px;
 width:50%;

 background-color: black;
 /* margin: auto; */
 color: whitesmoke;
 border-radius: 10px;

 padding: 20px;
 border: 2px solid red;
 font-family: Georgia, 'Times New Roman', Times, serif;   
}
.section-container h2,h3{
    color: red;
}
/* .video{
    height: 40px;
} */
 footer{
    background-color: black;
    color: whitesmoke;
    margin-top: 0;
    text-align: center;
    height: 250px;
 }
 footer p{
    padding-top: 30px;
 }
 footer a{
    color: aqua;
    text-decoration: none;
 }
 #nav-container ul p{
    color:rgb(46, 17, 46);
    font-weight: 900;
    font-family: sans-serif;
 }
 .image{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
 }
 .banner{
    background-image: linear-gradient(blue,red);
    height: 100vh;
   margin: 0;
   border-radius: 0.1px;
   margin-top: 0;
 }
 .banner ,wrapper{
margin: 0;
 }
 .wrapper h2{
    color: whitesmoke;
    font-weight: 1000;
    text-transform: uppercase;


 }
 .image img{
    border-radius: 80%;
    width: 400px;
    height: auto;
    margin-left: 10px;

 }
 .text-wrapper{
    display: block;
    background-color: rgb(232, 227, 227);
    border-radius: 10px;
    width: 40%;
    margin-left: 20px;
 }
 .text-wrapper ul{
    list-style-type:none;
    color:black;
    font-weight: 500;
    text-transform: uppercase;
 }
 .text-wrapper p{
    background-color: black;
    color: whitesmoke;
    height: 30px;
    padding: 10px;
    margin-top: 0;
    border-radius: 10px 10px 0 0;
 }
 #spec{
    /* background-color: blue; */
    color: yellow;
    text-align: center;
    width: 100%;
    font-size: 50px;
    padding-top: 70px;
    /* padding: 10px; */
    margin-left: 10px;
    margin-top: 10px;
    height: 100px;
 }
 form{
   background-color:rgb(207, 196, 196);
   color: black;
   margin: auto;
   border-radius: 10px;
   width: 50%;
   height: 200px;
   text-align: center;
   border: 2px solid red;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 10px;
 }
 form textarea{
   border-radius: 10px;
   border: 2px solid yellow;
   outline: none;
   background-color: blue;
 }
 form input{
   height: 20px;
   border-radius: 10px;
   outline: none;
   background-color: yellowgreen;


 }
 .btn{
   padding: 10px;
   background-color: blue;
   color: whitesmoke;
   border-radius: 10px;
   font-weight: 800;
 }